<div class="profile-content">
<div class="container" style="margin-top: 25px;">

<!-- <img src="assets/Games4CryptoLogo_Text.png" > -->
<br>
		<h2>Welcome back commander</h2>

<p><br>
We are the <a href="https://www.DigiByte.io" target="_blank">DigiByte</a> community, and we have made a continuation of the idea that DGB Gaming started. DGB Gaming went defunct in June 2017, and many members in the DigiByte community were lost for words. Many were excited that DigiByte was going to be the "Gamers Cryptocurrency". Since DigiByte is a low cost, highly secure coin that is easily embeded into video games, using DGB makes perfect sense as a micro payment cryptocurrency world.</p>

<p>After some research, it was discovered that DigiByte could easily be implemented into Steam Games. Steam Games seemed like an obvious choice because of the built in antifraud measures and a rabid community.</p>

<p>Games4Crypto will be rolled out mid term 2020 and has the potential to take the DigiByte and Steam Games communities by storm. This is a great update for what Steam Games are capable of and there are no limitations on how cryptocurrencies can integrate via Steam Games which allows user(s) to play their favorite game and earn DigiByteCoin. </p>
<p>Integrating a method of earning DigiByte while playing Steam games, via Games4Crypto Platform it is considered to be the first and biggest step ever in history; we are about to experience an epic launch. </p>  
</h3> 
<br>
<h3> What is DigiByteCoin?</h3>
<p> DigiByte (DGB) is a decentralized global UTXO PoW based blockchain (just like Bitcoin) with a focus on Cyber Security, DigiAssets, Payments & Secure Communications Technologies. </p>
<p>The DigiByte blockchain was developed in 2013 and released in January 2014 by Jared Tate (Creator & Founder of DigiByte) with an open-source protocol.</p>
For more information please visit <a href="https://DigiByte.io"> DigiByte</a> and <a href="https://www.dgbwiki.com"> dgbwiki </a> official websites.
<br>
<h2> DigiByte Community </h2>
<p>
<a href="https://www.DigiByte.io" target="_blank">Official Website</a> (Official DigiByte Website)<br>
<a href="https://digibytefoundation.io/" target="_blank">DigiByte Foundation</a> (Official DigiByte Foundation)<br>
<a href="https://www.DGBAT.org" target="_blank">DigiByte Awareness Team</a> (DigiByte Awareness and Outreach Team) <br>
<a href="https://www.dgbwiki.com/" target="_blank">DigiByte Wiki</a> (All about DigiByte) <br>
<a href="https://www.dgbwiki.com/index.php?title=Telegram_Groups" target="_blank">Telegram Groups</a> (Most popular way to engage with the DigiByte Global Community) 

</div>

</div>




<!-- margin-left: -347px; -->


	
</footer>

