<div class="profile-content">
<div class="container" style="margin-top: 25px;">
<title>FAQ</title>
		<h2>Frequently Asked Questions</h2> 


<h3 class="title"></h3>

<li>
1. How often do I get paid DigiBytes? Users are paid for each valid game. 
</li>
<li>
2. What is the minimum withdrawal? The minimum withdrawal is 10 DigiBytes.
</li>
<li>
3. Is there any charge or a fee?  To maintain the servers/services and costs of the platform, the charge is set at 1% per withdrawal.
<li>
4. Can I promote Games4Crypto online elsewhere and introduce to other people? Yes you can, We are a full-fledged Affiliate Network and you are more than welcome to promote our services anywhere you like as long as they don't violate our <a href="/terms.php">Terms of Service</a>.
</li>
<li>
5. Why is my account not being credited after completing a gaming session?<br>
<p>
There are a number of reasons this could of happened:
<ul>
<li>Information was detected as fraudulent or illegitimate.</li>
<li>Browser not accepting cookies.</li>
<li>Any tracking interference from an Ad-Blocker or any other plugins.</li>
<li>User is logged in from Proxy or VPN.</li>
<li>IP Address flagged by advertiser.</li>
</ul>
</p>
<p>
In order to aleviate these issues, we recommend that you, or your users:
<ul>
<li>Only enter legitimate information when requested.</li>
<li>Make sure that your browser is allowing cookies.</li>
<li>Disable any Ad-Blocker or plugin that may be interfering with tracking.</li>
<li>Do not use Toer/Proxies or VPNs.</li>
</ul>
</p>
</li>
<li>
6. Do I need Windows or Mac to run Digi-miner? Digi-miner operates on both OS, Windows and Linux. 
</li>
<li>
7. Are there any restrictions? Please check out our terms of service here: <a href="/terms.php">Terms of Service</a>
</li>
</ul>


</div>
</div>