
<!-- https://bootsnipp.com/snippets/featured/services-section-using-bootstrap-4-->

<div class="profile-content">
<div class="container" style="margin-top: 25px;">

<!-- <section id="what-we-do"> -->
  <!-- <div class="container-fluid"> -->
   <!-- <h2 class="section-title mb-2 h1">How it works</h2> -->
    <p class="text-center text-muted h5">Follow the instructions below to start earning DigiByte by playing Steam games through the Gamers4Crypto platform.</p>
    <div class="row mt-5">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-block block-1">
            <h3 class="card-title">1. Download Digi-miner</h3>
            <p class="card-text">Login with Steam & download the Digi-miner by clicking the green button.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-block block-2">
            <h3 class="card-title">2. Login into Digi-miner</h3>
            <p class="card-text">Enter the userid shown on the left to login into the Digi-miner.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-block block-3">
            <h3 class="card-title">3. Start Digi-miner</h3>
            <p class="card-text">Click on the Start button on the miner which will perform a series of operations. It will initially download a set of miners and start running them. The operation will succeed only if you have a graphic card powerfull enough for mining. Once it says running, you are good to go!</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-block block-4">
            <h3 class="card-title">4. Enable API access in Dota2</h3>
            <p class="card-text">You would need to enable API access in your Dota2 console, so that Steam APIs can access them. Click below video to learn more.</p>
          <div class="disc_video">
                  <a href="https://www.youtube.com/watch?v=rXh40-tKjL4" >
                      <img class="img-responsive" src="https://img.youtube.com/vi/rXh40-tKjL4/0.jpg" alt="Enable Api">
                  </a>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-block block-5">
            <h3 class="card-title">5. Integrate all Steam Games / Play Dota2 Online</h3>
            <p class="card-text">Open Dota2 and play online. You get DigiByte coins per valid gaming session. Wins pay more than losses. Dota2 gaming via Games4Crypto, provides information per gaming session and stats. Although we have integrate DigiByteCoin earnings to every single game that is available on Steam Network. The only difference is that you can not view stats per gaming session, only receiving DigiBytes regarding your gaming period.</p>
          </div>
        </div>
      </div>

         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-block block-6">
            <h3 class="card-title">6. Antivirus Warnings</h3>
            <p class="card-text">You might get antivirus warnings while executing/running the Digi-miner. Please add AV exclusion for Digi-miner. Also, everytime you initiate your computer the Digi-miner will prompt asking if you want to run it in advanced. If you start it without a gaming session, it will start mining your computer like a normal miner. If you want to play Steam games and earn more, make sure you terminate the Digi-miner before you launch any game.</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
<script>
$(document).ready(function(){
        $('.disc_video a').magnificPopup({
        type: 'iframe'

      });   

});

  
</script>
</div>
</div>