<div class="profile-content">
<div class="container" style="margin-top: 25px;">
			<h2>Privacy Policy</h2>
            <p>
            We recognize that privacy is an important issue, so we design and operate this website with the protection
            of your privacy in mind. This Privacy Policy outlines the types of information we gather when you use our
            website and how we use it.
        </p><br>
        
        <h4>Data Collection</h4>
        <p>
            We collect limited non-personally identifying information your browser makes available whenever you visit a
            website. This information includes your Internet Protocol address, browser type, the date and time of your
            access, and one or more cookies that may uniquely identify your browser. We use this information to operate safe, develop, and improve our services.
        </p><br>
        
        <h4>Cookies</h4>
        <p>
            A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to
            your computer when you visit a website. Cookies are required to use our site. We use cookies to record
            session information.
        </p><br>
        
        <h4>Third Parties</h4>
        <p>
            We may include or offer third-party products or services on our site. These third parties have separate and
            independent privacy policies, and we bear no responsibility or liability for their content and activities.
            Nonetheless, we seek to protect the integrity of our site and welcome any feedback.
        </p>	</div>
        </div>
            </div>
		
		

</div>
</div>