<div class="profile-content">
<div class="container" style="margin-top: 25px;">
			<h2>Terms of Service</h2>
			<h5> Last Updated: 10/3/2020 </h5>
		<p><br>
			These terms of service constitute the entire agreement ("Agreement") between you and Games4Crypto.com
			in relation to your use of this website ("Services").  If you disagree with these terms of service or any part of these terms of service, you must not use this website.
			We may, at any time, choose to edit, add and/or delete portions of these terms without prior notification
			of its users. Your continued use of the website will constitute acceptance of the changed terms.
		</p>
		<br>
		<h4>Restrictions</h4>
	<p class="justified">
		Games4Crypto.com may at any time terminate your account and revoke earnings for the following, but not limited to offenses:
<ul>
<li>Fraudulently completing gaming session.</li>
<li>Using Tor/Proxies/VPNs in order to bypass geo detection and fraud gaming.</li>
<li>Abusing the Games4Crypto system in any way.</li>
<li>Excessive signups, only 1 account allowed per user.</li>
<li>Disposable / Throwaway / Temporary Email Addresses.</li>
</ul>
</p><br>
<h4>Acceptable Use</h4>
            You must not use the Games4Crypto in any way that causes, or may cause, damage to the website or impairment of the
			availability or accessibility of the website, or in any way which is unlawful, illegal, fraudulent or harmful.
			Should the Games4Crypto detect any instances of fraud, system abuse or any type of activity deemed to be inappropriate
			or illegal in the sole discretion of the Games4Crypto, these actions may result in suspension of website access as
			well as forfeiture of any earned cryptocurrency not yet disbursed to you by the Games4Crypto.
		</p>
		<br>
		<h4>Relationship of the Parties</h4>
		<p>
			You and the Games4Crypto shall act independently, and nothing in this Agreement creates any partnership, joint venture,
			agency, franchise, representative or employment relationship between you and the Games4Crypto. You understand
			that you do not have authority to make or accept any offers or make any representations on behalf of the Games4Crypto.
		</p><br>
		
		<h4>Third-party Content</h4>
		<p>
			We make no representations or endorsements regarding the quality, accuracy, reliability, security or condition
			of any third-party content, applications or websites; you acknowledge and agree that the Games4Crypto and its
			affiliates are not responsible for examining or evaluating the accuracy, completeness, timeliness, validity,
			copyright compliance, legality, decency, quality or any other aspect of third-party materials. You are
			responsible for taking precautions as necessary to protect your property from viruses and other destructive
			mechanisms. Our website may include content that you find offensive or otherwise objectionable, that contains
			inaccuracies, mistakes, or other errors, that violates the rights of third parties or that requires your
			agreement to additional terms and conditions (stated or unstated) in order to download, copy or use it. We do
			not control the content and websites accessible through our website. We disclaim any responsibility for any harm
			resulting from your use of the website through viewing or use of any third-party content, technology or websites.
		</p>
		<br>
		<h4>Termination</h4>
		<p>
		We may terminate or suspend Your Account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if You breach these Terms and Conditions.

		Upon termination, Your right to use the Games4Crypto will cease immediately. If You wish to terminate Your Account, You may simply discontinue using the Games4Crypto.
		</p>
		<br>

		<h4>Limitation of Liability</h4>
		<p>
			The Games4Crypto will not be liable for lost profits, lost business opportunities, or any other indirect, special,
			punitive, incidental or consequential damages arising out of or related to this Agreement or the Games4Crypto, even
			if advised of the possibility of such damages. The website is provided "as is" and without any representations
			or warranties, express or implied. In addition, we make no representation that the operation of the website will
			be uninterrupted or error-free, and we will not be liable for the consequences of any interruptions or errors.
		</p>
		<br>
		<h4>Severability</h4>
		<p>
			If a provision of this Agreement is determined by any court of competent jurisdiction to be unlawful and/or
			unenforceable, the remaining provisions shall remain in full force and effect. The parties shall in good faith
			attempt to modify any invalidated provision to carry out the parties' stated intentions. The waiver of any
			breach of any provision by any party shall not be deemed to be a waiver of any preceding or subsequent breach,
			nor shall any waiver constitute a continuing waiver.
		</p>
		<br>
		<h4>Changes to These Terms and Conditions</h4>
		<p>
		We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. If a revision is material We will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at Our sole discretion.

		By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the Games4Crypto and the Service.
		</p>
		<br>
		<h4>Contact Us</h4>
		<p class="justified">
		If you have any questions about these Terms of Service, please contact us:
	<ul>
	<li>By email: info@Games4Crypto.com</li>

		
		

</div>
</div>