
    <div class="detailBox">
        <div class="titleBox">
          <label>Some </label>

        </div>
        <div class="actionBox">

            <div id="profit_chart" >
            </div>

        </div>
    </div>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
            var x = "<%=@array.to_s%>"
            y=JSON.parse(x);

            console.log(y);
            y.unshift(['Id','Pool value']);
        var data = google.visualization.arrayToDataTable(y);

        var options = {
          title: 'Pool Health',
          curveType: 'function',
          legend: { position: 'bottom' },
               width: "1000",
                height:"300"
        };

        var chart = new google.visualization.LineChart(document.getElementById('profit_chart'));

        chart.draw(data, options);
      }
    </script>