<p>Wallet Balance: <%=@global_info.wallet_balance.to_f.round(2) rescue 0 %></p>
<p>Mining Pool Balance: <%=@global_info.pool_balance.to_f.round(2) rescue 0 %></p>
<p>Total tokens Owed: <%=@global_info.total_owed.to_f.round(2) rescue 0 %></p>
