<% i=1 %>
 
<% @users&& @users.each do |item| %>

    <div class="twPc-div">
        <a class="twPc-bg twPc-block"></a>

        <div>
            <div class="twPc-button">

            </div>

            <a title="<%= item.username %>" href="<%= item.profile_url %>" class="twPc-avatarLink">
                <%= image_tag item.get_profile_pic,  class:" img-responsive thumbnail twPc-avatarImg"%>
            </a>

            <div class="twPc-divUser">
                <div class="twPc-divName">
                    <p>
                        <%= item.username %>
                    </p> 
                </div>
            </div>

            <div class="twPc-divStats">
                <ul class="twPc-Arrange">
                    <li class="twPc-ArrangeSizeFit">
                        <a href="#" title="9.840 Tweet">
                            <span class="twPc-StatLabel twPc-block">Digibytes</span>
                            <span class="twPc-StatValue"><%=item.credits.to_f.round(2)   %></span>
                        </a>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <a href="#" title="885 Following">
                            <span class="twPc-StatLabel twPc-block">Mining Sessions</span>
                            <span class="twPc-StatValue"><%=item.sessions%></span>
                        </a>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <a href="#" title="Minutes of Mining">
                            <span class="twPc-StatLabel twPc-block">MOM</span>
                            <span class="twPc-StatValue"><%=item.mom%></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


<%  i+=1 %>
<%end%>
    <div class="row">
        <%= paginate @users, :params => {:controller => 'admin_users', :action => 'users_next'},:locals => { rem: true }%>
    </div>


