<div class="landingpage"> 
    <section class="jumbotron text-xs-center" >
        <div class="container">
                <img src="assets/EarnDigiByteFinal.png" alt="DGBEarnPlaySteam"> 
                <div style="margin-top:50px;">
                           
                </div>
            </div>
        <p>
        
        <center><%= link_to image_tag("sits_02.png",  border: 0), "/auth/steam", {class: 'dock-item'}%> </center></p>
         </section>
    <div style="margin-top:-5px;">

    <div class="album text-muted">
        <div class="container">
            <p class="albumtitle">How it Works</p>
            
            <p class="card-text"> The Digi-miner collects DigiByte to support payouts to gamers playing Steam Games. User(s) download the Digi-miner where players use a small portion of their GPU to help support payouts.The extremely low intensity miner will not degrade the operation or performance of Steam Games nor Dota 2.
        <div class="row">
                <div class="card col-md-3 col-sm-6 col-xs-6">
                    <img src="assets/steam.jpg" alt="Steam">
                    <p class="card-text">Login through Steam to create an account on Games4Crypto.com. This allows us to track your SteamID throughout our site and generate a unique ID for the Digi-miner.</p>
                </div>
                <div class="card col-md-3 col-sm-6 col-xs-6">
                    <img src="assets/mine.jpg" alt="Digi-Miner">
                    <p class="card-text">Execute the Digi-miner software which will ping our mining pool, enter unique ID and let us know you are a valid participant.</p>
                </div>
                <div class="card col-md-3 col-sm-6 col-xs-6">
                    <img src="assets/Dota.jpg" alt="DotaMine">
                    <p class="card-text">Once your miner's ping is being received, you are ready to play Dota 2 or any other Steam Game. Users are paid each valid game.</p>
                </div> 
            </div> <!-- @Copyright Games4Crypto.com --->
           
        </div>
      
    </div>
  

<div id="chat_data_store">
</div>
</div>
    <script type="text/javascript">
        $(document).on("click",".show_loginlink",function(){
            $("#user_login_holder").html($("#login_snippet_holder").html())
                
        });
        $(document).on("click",".show_signuplink",function(){
            $("#user_login_holder").html($("#signup_snippet_holder").html())
                
        });
            $('.disc_video a').magnificPopup({
          type: 'iframe',

        }); 
        $('html,body').animate({
            scrollTop: 0
        }, 1000);

    
    </script>
