  <!--the :rec_id is just added to specify which recruitmentid this ipagination is for. :id was doing its job but after some operation like assigining rounds, :id gets overwritten-->
  	<%url+="&rec_id="%>
  	<% rec_id=locals[:rec_id].nil? ? -1 : locals[:rec_id] %>
  	<%url+=rec_id.to_s%>
<li>
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, :rel => 'next', class:"next", :remote => locals[:rem]%>
</li>
