<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, page, :remote => locals[:rem], rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% else %>
  <li>
  <!--the :rec_id is just added to specify which recruitmentid this ipagination is for. :id was doing its job but after some operation like assigining rounds, :id gets overwritten-->
  	<%url+="&rec_id="%>
  	<% rec_id=locals[:rec_id].nil? ? -1 : locals[:rec_id] %>
  	<%url+=rec_id.to_s%>
	  <!--the :rec_id is just added to specify which recruitmentid this ipagination is for. :id was doing its job but after some operation like assigining rounds, :id gets overwritten-->
  	<%url+="&candidate_type="%>
  	<% candidate_type=locals[:candidate_type].nil? ? "All" : locals[:candidate_type] %>
  	<%url+=candidate_type.to_s%>

    <%= link_to page, url, :remote => locals[:rem], rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% end %>
