<div class="container profile-content">
	<p>Login For Admins</p>
<% if flash[:danger]!=nil then %>
	<div class ="alert alert-danger">
		<%= flash[:danger] %>
	</div>
<%end %>

    <div class="row">
        <div class="col-md-5 ">
            <div class="panel panel-default">
                <div class="panel-body">
					<%= form_for(:session, url: admin_login_path) do |f| %>
                    
                    <fieldset>
                        <div class="form-group">
                            <%=     f.text_field :username, class:"form-control",placeholder:"Username",id:""%>
                        </div>
                        <div class="form-group">
                            <%=     f.password_field :password, class:"form-control",placeholder:"Password",id:""%>
                            
                        </div>
						<%= 	f.submit 'Log In', class: 'btn btn-primary'%>

                    </fieldset>

                 <% end%>

                </div>
            </div>
        </div>
    </div>
</div>


