<div class="profile-content">
  
  <div class="row">
<%= image_tag @site_admin.get_profile_pic , width:100, height:150, class:"col-sm-2 img-responsive img-thumbnail"%>
  <h3 class="col-sm-4"><%=@site_admin.username %></h3>

  
</div>



<nav class="navbar navbar-default">
  <div class="container-fluid">
      

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%=link_to "Summary",  '#site_admin_summary' ,"data-toggle"=>"tab" %>  </li>
        <li ><%=link_to "Users",  '#site_admin_registered_users' ,"data-toggle"=>"tab" %>  </li>
        <li><%=link_to "Reports", '#charts_tabcontent' ,"data-toggle"=>"tab", id: "reported_content_tab" %></li>
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="bs-docs-example">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="site_admin_summary">
        <%= render partial: "admin_users/ajaxresponse/summary" %>
          
      </div>      
      <div class="tab-pane fade " id="site_admin_registered_users">
        <%= render partial: "admin_users/ajaxresponse/users" %>
          
      </div>

       <div class="tab-pane fade" id="charts_tabcontent">
        <%= render partial: "admin_users/ajaxresponse/chart" %>
          
      </div>

    </div>
</div>
</div>