// Place all the styles related to the Miners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.downloadimage{
	max-height:50px;
	margin-left: 90px;
	margin-top: 30px;
}