#notification_li
{
	position:relative
}
#notificationContainer 
{
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	top: 50px;
	margin-left: -170px;
	width: 400px;
	z-index: -1;
	display: none; // Enable this after jquery implementation 
}
// Popup Arrow
#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 188px;
}
#notificationTitle
{
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	position: fixed;
	z-index: 1000;
	width: 384px;
	border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
	padding: 33px 0px 0px 0px !important;
	min-height:300px;
}
#notificationFooter
{
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}

#notification_count 
{
	padding: 3px 7px 3px 7px;
	background: #cc0000;
	color: #ffffff;
	font-weight: bold;
	margin-left: 30px;
	border-radius: 50px;
	position: absolute;
	font-size: 11px;
	z-index: 1000;
	margin-top: 5px;
	display:none;

}


/*for inside contents*/

.notification_image{
	padding: 0px;
}



.notification-snippet {
  width: 100%;
  height: 75px;
}

.notification-image {
  display: inline-block;
  height: 100%;
}

.notification-heading {
  display: block;
  overflow: hidden;
  max-height: 75%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  clear: none;
}

.notification-subtext {
  display: block;
  padding-left: 9px;
}

.notification-textcontainer {
  display: inline-block;
}