// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* typography */
.homepage h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
.homepage h1 {
	font-size: 3em;
	letter-spacing: -2px;
	text-align: center;
	margin-bottom: 30px;
}
.homepage h2  {
	font-size: 2.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
	height: 300px;

}
.homepage h3{
	height: 300px;
}
.footer {
	padding-left:  -550px;
	margin-left: -300;
}


/**********************
/***** Services *******
/*********************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#007b5e;
	margin-bottom:50px;
}

.withdraw-title{
	color:#007b5e;
	margin-bottom:50px;
	
}

#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "1";
}
#what-we-do .card .block-2:before{
    content: "2";
}
#what-we-do .card .block-3:before{
    content: "3";
}
#what-we-do .card .block-4:before{
    content: "4";
}
#what-we-do .card .block-5:before{
    content: "5";
}
#what-we-do .card .block-6:before{
    content: "6";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease; 
}