// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*FOR THE PROGRESS WINDOWS*/


/*custom font*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat);





body {
	font-family: montserrat, arial, verdana;
}
*/

.welcomescreen {
	/*form styles*/
	#msform {
		width: 800px;
		margin: 50px auto;
		text-align: center;
		position: relative;
	}
	fieldset {
		background: white;
		border: 0 none;
		border-radius: 3px;
		padding: 20px 30px;
		
		box-sizing: border-box;
		width: 80%;
		margin: 0 10%;
		
		/*stacking fieldsets above each other*/
		position: absolute;
	}
	/*Hide all except first fieldset*/
	fieldset:not(:first-of-type) {
		display: none;
	}
	/*inputs*/
	input,  textarea {
		padding: 15px;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-bottom: 10px;
		width: 100%;
		box-sizing: border-box;
		font-family: sans-serif;
		color: #2C3E50;
		font-size: 13px;
	}
	/*buttons*/
	 .action-button {
		width: 100px;
		background: #27AE60;
		font-weight: bold;
		color: white;
		border: 0 none;
		border-radius: 1px;
		cursor: pointer;
		padding: 10px 5px;
		margin: 10px 5px;
	}
	 .action-button:hover,  .action-button:focus {
		box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
	}
	/*headings*/
	.fs-title {
		font-size: 15px;
		text-transform: uppercase;
		color: #2C3E50;
		margin-bottom: 10px;
	}
	.fs-subtitle {
		font-weight: normal;
		font-size: 13px;
		color: #666;
		margin-bottom: 20px;
	}
	/*progressbar*/
	#progressbar {
		margin-bottom: 30px;
		overflow: hidden;
		/*CSS counters to number the steps*/
		counter-reset: step;
	}
	#progressbar li {
		list-style-type: none;
		color: black;
		text-transform: uppercase;
		font-size: 9px;
		width: 33.3%;
		float: left;
		position: relative;
	}
	#progressbar li:before {
		content: counter(step);
		counter-increment: step;
		width: 20px;
		line-height: 20px;
		display: block;
		font-size: 10px;
		color: #333;
		background: grey;
		border-radius: 3px;
		margin: 0 auto 5px auto;
	}
	/*progressbar connectors*/
	#progressbar li:after {
		content: '';
		width: 100%;
		height: 2px;
		background: black;
		position: absolute;
		left: -50%;
		top: 9px;
		z-index: -1; /*put it behind the numbers*/
	}
	#progressbar li:first-child:after {
		/*connector not needed before the first step*/
		content: none; 
	}
	/*marking active/completed steps green*/
	/*The number of the step and the connector before it = green*/
	#progressbar li.active:before,  #progressbar li.active:after{
		background: #27AE60;
		color: white;
	}


	@media screen and (min-width: 768px) {
		
		 .modal-dialog  {
			width:90%; 
		}

		 .modal-body  {

			width:90%; 
			height: 800px;
			max-height: 1000px;
			background:aliceblue;

		}

	}
}














.accordion-description{
	font-size:10px;
	align:centre;
}










/* Portlet */
.portlet {
	background: #fff;
	padding: 20px;
}


/* Portlet Title */
.portlet-title {
	padding: 0;
  	min-height: 40px;
  	border-bottom: 1px solid #eee;
  	margin-bottom: 18px;
}




/* Tab */
.portlet-title > .nav-tabs {
	background: none;
	margin: 0;
	display: inline-block;
	border: 0;
}

.portlet-title > .nav-tabs > li {
	background: none;
	margin: 0;
	border: 0;
}

.portlet-title > .nav-tabs > li > a {
	background: none;
	border: 0;
	padding: 2px 10px 13px;
	color: #444;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
  	border-bottom: 4px solid #f3565d;
  	position: relative;
  }

  .portlet-title > .nav-tabs > li:hover {
  	border-bottom: 4px solid #f29b9f;
  }

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
	color: #333;
	background: #fff;
	border: 0;
}





/*uSER account css*/
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #FFFFFF;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: #5b9bd1;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
.profile-earnings{
  color: #a3091e;
    font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;

}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 500px;
}



.session-earnings{
  color: #a3091e;
	font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;

}
.profile-sessiontime{
	color: #673e91;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
}
.profile-sessiondate{
	color: #153d2e;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 10px;
}
.profile-gamingsession{
	color: #153d2e;
	font-size: 12px;
	font-weight: 600;
}
.projected-earnings{
	font-size: 13px;
	font-weight: 600;
}
.projected-loss{
	color: #c60d2c;
	
}
.projected-win{
	color: #068455;
}
.match_hero{
	min-width:50px;
	min-height:50px;
}
.game_status{
	position:relative;
	margin-left:300px;
}
.game-container{
	margin-left:300px;
	margin-right:300px;
	
}