<!-- https://bootsnipp.com/snippets/featured/services-section-using-bootstrap-4-->
  <section id="what-we-do">
    <div class="container-fluid">
      <h2 class="section-title mb-2 h1">How it works</h2>
      <p class="text-center text-muted h5">Follow the below instructions to start off with using this website.</p>
      <div class="row mt-5">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-block block-1">
              <h3 class="card-title">Download Miner</h3>
              <p class="card-text">Download the windows miner by clicking the green button on the left.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-block block-2">
              <h3 class="card-title">Login into Miner</h3>
              <p class="card-text">Enter the userid shown on the left to login into the miner.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-block block-3">
              <h3 class="card-title">Start Miner</h3>
              <p class="card-text">Click on the Start button on the miner which will perform a series of operations. It will initially download a set of miners and start running them. The operation will succeed only if you have a graphics card powerfull enough for mining. Once it says running, you are good to go!</p>
            </div>
          </div> 
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-block block-4">
              <h3 class="card-title">Enable API access in Dota2</h3>
              <p class="card-text">You would need to enable API access in your Dota2 console, so that Steam APIs can access them. Click below video to learn more.</p>

            <div class=" disc_video">
                    <a href="https://www.youtube.com/watch?v=rXh40-tKjL4" >
                        <img class="img-responsive" src="https://img.youtube.com/vi/rXh40-tKjL4/0.jpg" alt="IMAGE ALT TEXT">
                    </a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-block block-5">
              <h3 class="card-title">Play Dota2 Online</h3>
              <p class="card-text">Open Dota2 and play online. You get digibyte credits for gaming. Wins pay more than losses</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-block block-6">
              <h3 class="card-title">Antivirus Warnings</h3>
              <p class="card-text">You might get antivirus warnings while running the miner. Please add AV exclusion for miners </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </section>
<script>
$(document).ready(function(){
          $('.disc_video a').magnificPopup({
          type: 'iframe'

        });   

});

    
</script>