<%won=false%>
<%status="lost"%>
<% if current_user.won?(match) %>
  <%won=true%>
  <%status="won"%>
  <p class="label label-success game_status">Match won</p>
<% else %>
  <p class="label label-danger game_status">Match lost</p>
<% end %>
<%hero =current_user.played_for_in(match) %>



<%if hero %>
    <div class="match_hero">
      <%= image_tag hero[:image], alt: hero[:name], title: hero[:name]  %>
    </div>    
    <p>Played as <%=hero[:name] %> on <%=match.started_at.strftime("%B %-d  %Y,   %l:%M %p")%> and <%=status%></p>

<% else%>
  <p>Played match on <%=match.started_at.strftime("%B %-d  %Y,   %l:%M %p")%> and <%=status%></p>

<%end%>
 <%= link_to"Visit Match ", "/match_info/#{match.id}"  ,class:""%>

