<% require ::File.expand_path('../../../../../lib/tasks/constants', __FILE__) %>

<%if @running_session.nil? &&( @updates.nil? || @updates.count==0) %>
        <%= render partial: "profiles/ajaxresponse/get_started" %>
    
<%else%>
  <%if @running_session %>

        <div class="row">
            <div class="col-xs-8  col-sm-8">
                <div class="[ panel panel-default ] panel-google-plus">
                    <%if @running_session.match_id %>
                        <%match=Match.find_by(id: @running_session.match_id)%>
                    <%end%>

                    <div class="panel-heading">
                    <p class="profile-sessiondate"><%=@running_session.starttime.strftime("%B %-d  %Y,   %l:%M %p")%></p>

                    </div>
                    <div class="panel-body social_net_post_content" id="social_net_post_content">
                        <p>Session in progress</p>
                        <p class="profile-sessiontime">Session Time : <%=@running_session.seconds/60%> minutes</p>
                        <%if match %>
                            <p class="profile-gamingsession">Gaming session attached</p>
                            <%= render 'profiles/ajaxresponse/match_details', match: match %>
                        <%else%>
                            <p class="profile-gamingsession">Maximise your earnings by playing Dota2 games</p>
                        <%end%>
                    </div>
                    <div class="panel-footer">
                       
                    </div>
                    <div id="post_comment_area<%=@running_session.id%>" class="post_comment_area">

                    </div>
                </div>
            </div>

        </div>
    <%end%>
    <% i=0%>
    <% match=nil%>
    <% @updates && @updates.each do |item| %>
    <div class="row">
        <div class="col-xs-8  col-sm-8">
            <div class="[ panel panel-default ] panel-google-plus">
                    <%if item.match_id %>
                        <%match=Match.find_by(id: item.match_id)%>
                    <%end%>

                <div class="panel-heading">
                    <p class="profile-sessiondate"><%=item.starttime.strftime("%B %-d  %Y,   %l:%M %p")%></p>
                </div>
                <div class="panel-body social_net_post_content" id="social_net_post_content<%=item.id%>">
                    <p class="profile-sessiontime">Session Time : <%=item.seconds/60%> minutes</p>
                    <p class="profile-earnings">Digibyte Earned : <%=item.digibyte.to_f.round(2)%> DGB</p>
                    <%if match %>
                        <p class="profile-gamingsession">Gaming session attached</p>
                        <%= render 'profiles/ajaxresponse/match_details', match: match %>
                    <%else%>
                        <p class="profile-gamingsession">There was no game played during this session. Earnings can be maximised by playing games.</p>
                    <%end%>
                </div>
                <div class="panel-footer">
                   <%if match %>
                        <%if current_user.won? match %>
                            <p>Maximum earning</p>
                        <%else%>
                            <% projected=(item.digibyte.to_f* (GAMEWINMULTIPLIER/GAMELOSSMULTIPLIER))%>
                            <text class="projected-earnings">
                                Projected Earning:
                                <span class="projected-win">Win: <%=projected.to_f.round(2)%> DGB</span>
                             </text>
                        <%end%>

                        
                    <%else%>
                        <% projected_win=(item.digibyte.to_f* (GAMEWINMULTIPLIER/GAMENOPLAYMULTIPLIER))%>
                        <% projected_loss=(item.digibyte.to_f* (GAMELOSSMULTIPLIER/GAMENOPLAYMULTIPLIER))%>
                        <text class="projected-earnings">
                            Projected Earning:
                            <span class="projected-win">Win: <%=projected_win.to_f.round(2)%> DGB</span>,
                            <span class="projected-loss">Loss: <%=projected_loss.to_f.round(2)%> DGB</span>
                         </text>
                        
                    <%end%>
                </div>
                <div id="post_comment_area<%=item.id%>" class="post_comment_area">

                </div>
            </div>
        </div>

    </div>
                    
    <%i+=1%>
                    
<%end%>

<%end%>

  