
<div id="social_networking_post_only_area">
    <%= render partial: "profiles/ajaxresponse/post_snippet" %>

</div>
<%= paginate @updates, :params => {:controller => 'profiles', :action => 'show_my_profile_home'},:locals => { rem: true }%>
