               <%pastgames=""%>
               <%home=""%>
               <%withdraw=""%>
               <%how_it_works=""%>
               <%if @level_2_tab=="past_games"%>
                    <%pastgames="active" %>
                    
                <%elsif @level_2_tab=="withdraw"%>
                    <%withdraw="active" %>
                 <%elsif @level_2_tab=="how_it_works"%>
                    <%how_it_works="active" %>
                    
                <%else%>
                    <%home="active" %>
                <%end%>   

    <div class="profile-usermenu">
        <ul class="nav">
            <li class="<%=home%>"><a href="/" id=""><span class="glyphicon glyphicon-home"></span> Home</a></li>
           <li class="<%=pastgames%>"><a href="/past_games" id=""><span class="glyphicon glyphicon-cloud"></span> Past Games</a></li>
           <li class="<%=withdraw%>"><a href="/withdraw" id=""><span class="glyphicon glyphicon-download"></span> Withdraw</a></li>
           <li class="<%=how_it_works%>"><a href="/how_it_works" id=""><span class="glyphicon glyphicon-envelope"></span> How it Works</a></li>
        </ul>
    </div>

<script>
  $(function () {

  });
</script>