<% unless current_user  %>
<%= render partial: "users/landing_page" %>

<%else%>




<!--https://bootsnipp.com/snippets/featured/user-profile-sidebar-->
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <%= image_tag current_user.avatar_url ,   class:" img-responsive"%>
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <%=current_user.username%>
                    </div>
                    <div class="profile-usertitle-job">
                        UserId: <%=current_user.miningid%>
                    </div>
                    <div class="profile-earnings">
                        Earnings: <%=current_user.credits.to_f.round(2)%> DGB
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                     <%= link_to"Download Miner", download_miner_path ,class:"btn btn-success btn-sm"%>
                     <%= link_to"Withdraw", withdraw_path ,class:"btn btn-danger btn-sm"%>


                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
        <%= render partial: "profiles/ajaxresponse/show_my_profile_sidebar" %>

                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9" >
            <div class="profile-content" id="social_networking_posts">
               <%if @level_2_tab=="past_games"%>
                    <%= render partial: "profiles/ajaxresponse/show_past_games" %>             
                <%elsif @level_2_tab=="withdraw"%>
                    <%= render partial: "profiles/ajaxresponse/withdraw" %>               
                 <%elsif @level_2_tab=="how_it_works"%>
                    <%= render partial: "profiles/ajaxresponse/how_it_works" %>
                <%else%>
                    <%= render partial: "profiles/ajaxresponse/posts" %>

                <%end%>   
            </div>
        </div>
    </div>
</div>
    


<%end%>

  
