<%if  @matches.nil? || @matches.count==0 %>
  <section id="what-we-do">
    <div class="container-fluid">
      <h2 class="section-title mb-2 h1">Did not detect any games played in the past.</h2>
      </div>
    </section>
<%else%>

<div id="social_networking_post_only_area">
      <% i=0%>
    <% @matches && @matches.each do |match| %>
    <div class="row">
        <div class="col-xs-8  col-sm-8">
            <div class="[ panel panel-default ] panel-google-plus">

                <div class="panel-heading">

                </div>
                <div class="panel-body social_net_post_content" id="social_net_post_content<%=match.id%>">
                  <%= render 'profiles/ajaxresponse/match_details', match: match %>
                        
                </div>
                <div class="panel-footer">
                   
                </div>

            </div>
        </div>

    </div>
                    
    <%i+=1%>
                    
<%end%>

</div>
<%= paginate @matches, :params => {:controller => 'profiles', :action => 'past_games'},:locals => { }%>





<%end%>
