<div id="withdraw_area">
      <h2 class="withdraw-title mb-2 h1">Withdraw DigiBytes</h2>

<div class="container">
    <div class="row">
        <div class="col-md-5 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <%= form_for(:data, url: withdraw_dgb_path,remote:true, html: {id:'withdrawalform'}) do |f| %>
                    
                    <fieldset>
                        <div class="form-group">
                            <%=     f.text_field :address, class:"form-control",placeholder:"Withdrawal Address",id:""%>

                        </div>
                        <div class="form-group">
                            <%=     f.text_field :amount, class:"form-control",placeholder:"Amount",id:"new_advices_failurelist"%>
                            
                        </div>

                    <%=     f.submit 'Withdraw', class: 'btn btn-primary   '%>
                    </fieldset>

                 <% end%>

                </div>
            </div>
        </div>
    </div>
</div>


</div>
<div class="withdraw_history">
	<h4>Withdrawal History</h4>
	<%if @withdrawals && @withdrawals.count>0%>

		<%@withdrawals.each do |withdraw|%>

        
            
                <div class="[ panel panel-default ] panel-google-plus">
                    <div class="dropdown">
                        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                        </span>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>

                        </ul>
                    </div>

                    <div class="panel-heading">

                    </div>
                    <div class="panel-body social_net_post_content" id="social_net_post_content">
						<p>Txid: <a href="https://digiexplorer.info/tx/<%=withdraw.txid%>" target="_blank"><%=withdraw.txid%></a></p>
						<p>Amount: <%=withdraw.amount%></p>
						<p>Address: <a href="https://digiexplorer.info/address/<%=withdraw.address%>" target="_blank"><%=withdraw.address%></a></p>
                        <p>Time :  <%= withdraw.created_at.strftime("%B %-d,  %Y, %H:%M")  %> </p>
                        
                    </div>
                </div>
            

        	
		<%end%>
	<%else%>
		<p>Nothing to show</p>
	<%end%>
</div>