<%if @type=="profile"%>
    $('#my_profile_tabcontent').html("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/show_my_profile' )  %>");
    $("#social_net_add_postform").reset();

<%elsif @type=="others_profile"%>
    $('#my_profile_tabcontent').html("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/show_user_profile' )  %>");
<%elsif @type=="profile_home"%>
    $('#social_networking_post_only_area').append("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/post_snippet' )  %>");
    <%if @updates.next_page%>
        $('#social_networking_posts .pagination').replaceWith(" <%= j paginate @updates, :params => {:controller => 'profiles', :action => 'show_my_profile_home'},:locals => { rem: true }%>")
   <%else%>
       $('#social_networking_posts .pagination').remove();
   <%end%>
<%elsif @type=="searchresult"%>
    $('#my_profile_tabcontent').html("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/search_results' )  %>");
    $("#my_profile_tabcontent").tab("show");
<%elsif @type=="post"%>
    $('#social_networking_posts').append("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/posts', locals:{postarea:'show'} )  %>");

<%elsif @type=="post_like"%>
    $('#'+'<%=@target_id%>').html('<%= link_to   social_net_like_post_path(id:@post_id,buttonname:@target_id,likecount_buttonname: @likecount_target_id,liketype: @newlike_type),\
                                    method:  :post, remote:true do %><i class="fa fa-thumbs-o-up"><%= @newlike_type%></i>\
                       <%end%>');    
    
    $('#'+'<%=@likecount_target_id%>').html('<%=link_to pluralize(@post.likes, "Like") , social_net_show_post_liked_user_list_path(id:@post_id),class:"show_post_likes_modal",method:  :get, remote:true %>');
<%elsif @type=="post_comment_like"%>
    $('#'+'<%=@target_id%>').html('<%= link_to  @newlike_type, social_net_like_post_comment_path(id:@comment_id,buttonname:@target_id,\
        likecount_buttonname: @likecount_target_id,liketype:@newlike_type),method:  :post, remote:true  %>');    
    
    $('#'+'<%=@likecount_target_id%>').html('<%= link_to show_post_comment_liked_users_path(id:@comment_id),class:"show_post_likes_modal",method:  :get,\
     remote:true do %><i class="fa fa-thumbs-o-up"><%=@postcomment.likes%></i><%end%>');



<%elsif @type=="post_like_userlist"%>

    $('#social_net_post_liked_users_list').html("<%= escape_javascript (render  :partial => \
        'profiles/ajaxresponse/user_profile/user_list', locals:{users: @users,use_for:'sharelist'} )  %>");
    $('#show_liked_list_modal').modal('show');
<%elsif @type=="post_repost_list"%>

    $('#social_net_shared_posts_list').html("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/show_reposts' )  %>");
    $('#show_shared_posts_list_modal').modal('show');

<%elsif @type=="show_my_post"%>
    $('#view_user_home_tabcontent').html("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/show_my_posts' )  %>");

<%elsif @type=="show_post_comment"%>
    $('#post_comment_area<%=@post_id%>').html("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/post_comment', locals:{post_id: @post_id} )  %>");
    
<%elsif @type=="comment_added"%>
    $('#post_comment_area<%=@post_id%>').html("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/post_comment', locals:{post_id: @post_id} )  %>");
    $('#post_comment_count_<%=@post_id%>').html('<button type="button" class="btn btn-link social_net_comment_link" post_id="<%=@post_id%>"  ><%=pluralize(@post.comments, "Comment")%></button> ')

<%elsif @type=="add_follower"%>
        $('#<%=@target%>').html('<%= link_to "UnFollow", social_net_unfollow_person_path(id: @subject.id,target:@target), 
            method:  :post,remote:true, class:"btn btn-primary" %>');
<%elsif @type=="remove_follower"%>

        $('#<%=@target%>').html('<%= link_to "Follow", social_net_follow_person_path(id: @subject.id,target:@target), 
            method:  :post,remote:true, class:"btn btn-primary" %>');

<%else%>
//we show profile anyway i guess
    $('#my_profile_tabcontent').html("<%= escape_javascript (render  :partial => 'profiles/ajaxresponse/show_my_profile' )  %>");

<%end%> 
$("#my_profile_tabpane").tab("show");


