
<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
		  
		
		<%= link_to "Games4Crypto", current_admin, id: "logo" %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        	</div>
			<div class="collapse navbar-collapse" id="collapse">
				<nav>
					<ul class="nav navbar-nav navbar-right">

						<% if admin_logged_in? %>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							My Account <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
                                    <li><%= link_to "Edit Profile", current_admin %></li>
									<li><%= link_to "Settings", '#' %></li>
                                    <li><%= link_to "Help", help_path %></li>
									<li class="divider"></li>
									<li>
                                        <%= link_to "Log out", admin_logout_path, method: "delete" %>
									</li>
								</ul>
							</li>	
						<%else %>
							<li><%= link_to "Log in", '#' %></li>
						<%end%>
					</ul>
				</nav>
			</div>
		</div>
	</header>


