<footer class="footer">

<div class="container">

<!-- margin-left: -347px; -->
             

          
	<nav>
	
		<ul>
		
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
		    <li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Terms of Service", terms_path %></li>
			<li><%= link_to "Privacy Policy", privacy_path %></li> 
			<li><%= link_to image_tag("twitter_G4C.png", border: 0), "https://twitter.com/Games4Crypto", target: :_blank %> </li>
		</ul>
		
	</nav>
	<p class="text-muted">@Copyright Games4Crypto.com
	
	</div>

</footer>

	