<%articles_tab_class=""%>
<%articles_tabcontent_class=""%>
<%profile_tab_class=""%>
<%profile_tabcontent_class=""%>
<%lendahand_tab_class=""%>
<%lendahand_tabcontent_class=""%>
      

<%if @level_1_tab=="articles_tab" || @level_1_tab=="show_article"  %>
      <%articles_tab_class="active"%>
    <%articles_tabcontent_class="in active"%>
<%elsif @level_1_tab=="profile_tab" || @level_1_tab=="others_profile" || @level_1_tab=="welcome_tab" %>
      <%profile_tab_class="active"%>
    <%profile_tabcontent_class="in active"%>
<%elsif @level_1_tab=="group_admin"  %>
    <%lendahand_tab_class="active"%>
    <%lendahand_tabcontent_class="in active"%>
<%end%>
<%i=4%>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
      <%= link_to image_tag("Games4CryptoLogoText.png") , root_path, id: "logo" %>
          
          </div>
      <div class="collapse navbar-collapse" id="collapse">
        <nav>
          <ul class="nav navbar-nav navbar-right">

                <% if logged_in? %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                          <li><%= link_to "Help", help_path %></li>
                          <li class="divider"></li>
                         
                          <li><%= link_to "Log out", user_logout_path, method: "delete" %></li>
                        </ul>
                    </li> 
                <%else %>
          
                   <li class=""><%=link_to "Login with Steam", "/auth/steam"  %></li>
          
                  <%end%>
          </ul>
        </nav>
      </div>
    </div>
  </header>


<div class="bs-docs-example">
    <div id="myTabContent" class="tab-content">

      <div class="tab-pane fade <%=profile_tabcontent_class%>" id="my_profile_tabcontent">
        <%if @level_1_tab=="profile_tab"  %>
            <%= render partial: "profiles/ajaxresponse/show_my_profile" %>
        <%elsif @level_1_tab=="others_profile"  %>
          <%= render partial: "profiles/ajaxresponse/show_user_profile" %>       
        <%elsif @level_1_tab=="welcome_tab"  %>
          <%= render partial: "profiles/ajaxresponse/welcome_message" %> 
        <%end%>
      </div>  
        
        <div class="tab-pane fade <%=lendahand_tabcontent_class%>" id="lendahand_tabcontent">
        <%if @level_1_tab=="group_admin"  %>
            <%= render  :partial => 'therapy/admin/lendahand' %>

        <%end%>

      </div>
      <div class="tab-pane fade <%=articles_tabcontent_class%>" id="articles_tabcontent">
        <%if @level_1_tab=="articles_tab" %>
            <%= render partial: "articles/ajaxresponse/articles" %>
         <%elsif @level_1_tab=="show_article"  %>
          <%= render partial: "articles/ajaxresponse/show_article" %> 
        <%end%>
      </div>

    </div>
</div>

