<!DOCTYPE html>
<html>
<head>
  <title>Games4Crypto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'games4crypto.ico' %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<%= render 'layouts/shim'%>
</head>
<body>

<%= render 'layouts/header'%>

		<%= yield %>
    <%= render 'layouts/common_snippets' %>

		<%= render 'layouts/footer' %>
</body>

</html>
