<!DOCTYPE html>
<html>
<head>
  <title>Games4Crypto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  <%= favicon_link_tag 'games4crypto.ico' %>
  <%= csrf_meta_tags %>
<%= render 'layouts/shim'%>
</head>
<body>

    <%= render 'layouts/admin_header'%>

	<div class="container">
		<%= yield %>
    <%= render 'layouts/common_snippets' %>

		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
